{% extends 'base.html' %}

{% block content %}
<!-----------------Student Profile--------------->
<div class="student-container">
    <div class="student-profile">
        <div class="profile-container">
            <div class="profile-container-inner">
                <img src="https://xsgames.co/randomusers/avatar.php?g=female&random0.309" class="profile-pic">
                <h1>Maria Fernandez</h1>
                <b>Front-End Developer at Twitter</b>
                <p>Madrid, Spain &middot; <a href="{{url_for('contactForm')}}">Contact info</a></p>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>About</h2>
        <p>I am an excellent communicator. I pride myself on making sure people have the right information because it drives better results. Most business issues stem from poor communication, so I feel responsible for keeping everyone on the same page. These skills helped increase my client retention rate by more than 40% in a year and helped the team deliver 100% of our projects by the original deadline.</p>
    </div>
    <div class="profile-descrp">
        <h2>Experience</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Twitter.png')}}">
            <div>
                <h3>Front-End Developer</h3>
                <b>Twitter &middot; Full-time</b>
                <b>Jan 2020 - Present &middot; 2.5 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Spotify.png')}}">
            <div>
                <h3>Full Stack Developer</h3>
                <b>Spotify &middot; Full-time</b>
                <b>Feb 2018 - Jan 2020 &middot; 2 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Google.png')}}">
            <div>
                <h3>Web Developer</h3>
                <b>Google Inc &middot; Full-time</b>
                <b>March 2016 - Feb 2018 &middot; 2 years</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Education</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/st.Andrews.png')}}">
            <div>
                <h3>St. Andrews University</h3>
                <b>BSEE, Electrical Engineering</b>
                <b>2018 - 2022</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Princeton.png')}}">
            <div>
                <h3>Princenton University</h3>
                <b>Computer Science</b>
                <b>2015 - 2018</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/MiT.png')}}">
            <div>
                <h3>MiT University</h3>
                <b>Senior High School</b>
                <b>2005 - 2015</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Skills</h2>
        <a href="#" class="skills-btn">Leadership</a>
        <a href="#" class="skills-btn">Comminication</a>
        <a href="#" class="skills-btn">Teamwork</a>
        <a href="#" class="skills-btn">Problem solving</a>
        <a href="#" class="skills-btn">Organisation</a>
        <a href="#" class="skills-btn">Python</a>
        <a href="#" class="skills-btn">JavaScript</a>
        <a href="#" class="skills-btn">Web Design</a>
        <a href="#" class="skills-btn">UI/UX</a>
        <a href="#" class="skills-btn">Coding</a>
        <a href="#" class="skills-btn">Development</a>
    </div>
    <div class="profile-descrp">
        <h2>Languages</h2>
        <a href="#" class="language-btn">English</a>
        <a href="#" class="language-btn">Spanish</a>
        <a href="#" class="language-btn">German</a>
    </div>
</div>
{% endblock %}