{% extends 'base.html' %}

{% block content %}
<!-----------------Student Profile--------------->
<div class="student-container">
    <div class="student-profile">
        <div class="profile-container">
            <div class="profile-container-inner">
                <img src="https://xsgames.co/randomusers/avatar.php?g=female&random0.110" class="profile-pic">
                <h1>Keira Galloway</h1>
                <b>UI/UX Designer at Apple</b>
                <p>New York, United States &middot; <a href="{{url_for('contactForm')}}">Contact info</a></p>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>About</h2>
        <p>I am results-oriented, constantly checking in to determine how close or how far away we are and what it will take to make it happen. I find this pressure inspiring and a great motivator for the rest of the team. In fact, over the past year, I was able to help my team shorten our average product time to market by two weeks.</p>
    </div>
    <div class="profile-descrp">
        <h2>Experience</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Apple.png')}}">
            <div>
                <h3>UI/UX Designer</h3>
                <b>Apple &middot; Full-time</b>
                <b>Jan 2020 - Present &middot; 2.5 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Netflix.png')}}">
            <div>
                <h3>Full Stack Developer</h3>
                <b>Netflix &middot; Full-time</b>
                <b>Feb 2018 - Jan 2020 &middot; 2 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Google.png')}}">
            <div>
                <h3>Web Developer</h3>
                <b>Google Inc &middot; Full-time</b>
                <b>March 2016 - Feb 2018 &middot; 2 years</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Education</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Stanford.png')}}">
            <div>
                <h3>Stanford University</h3>
                <b>BSEE, Electrical Engineering</b>
                <b>2018 - 2022</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/North.png')}}">
            <div>
                <h3>Nothwestern University</h3>
                <b>Computer Science</b>
                <b>2015 - 2018</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/MiT.png')}}">
            <div>
                <h3>MiT University</h3>
                <b>Senior High School</b>
                <b>2005 - 2015</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Skills</h2>
        <a href="#" class="skills-btn">Leadership</a>
        <a href="#" class="skills-btn">Comminication</a>
        <a href="#" class="skills-btn">Teamwork</a>
        <a href="#" class="skills-btn">Problem solving</a>
        <a href="#" class="skills-btn">Organisation</a>
        <a href="#" class="skills-btn">Python</a>
        <a href="#" class="skills-btn">JavaScript</a>
        <a href="#" class="skills-btn">Web Design</a>
        <a href="#" class="skills-btn">UI/UX</a>
        <a href="#" class="skills-btn">Coding</a>
        <a href="#" class="skills-btn">Development</a>
    </div>
    <div class="profile-descrp">
        <h2>Languages</h2>
        <a href="#" class="language-btn">English</a>
        <a href="#" class="language-btn">Spanish</a>
    </div>
</div>
{% endblock %}