{% extends 'base.html' %}

{% block content %}
<!-----------------Student Profile--------------->
<div class="student-container">
    <div class="student-profile">
        <div class="profile-container">
            <div class="profile-container-inner">
                <img src="https://xsgames.co/randomusers/avatar.php?g=male&random0.18" class="profile-pic">
                <h1>Tomas Orlowski</h1>
                <b>Back-End Developer at Netflix</b>
                <p>Warsaw, Poland &middot; <a href="{{url_for('contactForm')}}">Contact info</a></p>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>About</h2>
        <p>I'm a people person. I love meeting new people and learning about their lives and their backgrounds. I can almost always find common ground with strangers, and I like making people feel comfortable in my presence. This skill is especially helpful when kicking off projects with new clients. In my previous job, my clients' customer satisfaction scores were 15% over the company average.</p>
    </div>
    <div class="profile-descrp">
        <h2>Experience</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Netflix.png')}}">
            <div>
                <h3>Back-End Developer</h3>
                <b>Netflix &middot; Full-time</b>
                <b>Jan 2020 - Present &middot; 2.5 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Asus.png')}}">
            <div>
                <h3>Full Stack Developer</h3>
                <b>Asus &middot; Full-time</b>
                <b>Feb 2018 - Jan 2020 &middot; 2 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/accer.png')}}">
            <div>
                <h3>Web Developer</h3>
                <b>Google Inc &middot; Full-time</b>
                <b>March 2016 - Feb 2018 &middot; 2 years</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Education</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Chicago.png')}}">
            <div>
                <h3>Chicago University</h3>
                <b>BSEE, Electrical Engineering</b>
                <b>2018 - 2022</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/North.png')}}">
            <div>
                <h3>Nothwestern University</h3>
                <b>Computer Science</b>
                <b>2015 - 2018</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/mit.png')}}">
            <div>
                <h3>MiT University</h3>
                <b>Senior High School</b>
                <b>2005 - 2015</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Skills</h2>
        <a href="#" class="skills-btn">Leadership</a>
        <a href="#" class="skills-btn">Comminication</a>
        <a href="#" class="skills-btn">Teamwork</a>
        <a href="#" class="skills-btn">Problem solving</a>
        <a href="#" class="skills-btn">Organisation</a>
        <a href="#" class="skills-btn">Python</a>
        <a href="#" class="skills-btn">JavaScript</a>
        <a href="#" class="skills-btn">Web Design</a>
        <a href="#" class="skills-btn">UI/UX</a>
        <a href="#" class="skills-btn">Coding</a>
        <a href="#" class="skills-btn">Development</a>
    </div>
    <div class="profile-descrp">
        <h2>Languages</h2>
        <a href="#" class="language-btn">English</a>
        <a href="#" class="language-btn">Polish</a>
    </div>
</div>
{% endblock %}