{% extends 'base.html' %}
<!------------------Student Profile----------------->
{% block content %}
<div class="student-container">
    <div class="student-profile">
        <div class="profile-container">
            <div class="profile-container-inner">
                <img src="https://xsgames.co/randomusers/avatar.php?g=male&random0.23" class="profile-pic">
                <h1>John Helen</h1>
                <b>Web developer at Google</b>
                <p>California, United States &middot; <a href="{{url_for('contactForm')}}">Contact info</a></p>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>About</h2>
        <p>I am passionate about my work. Because I love what I do, I have a steady source of motivation that drives me to do my best. In my last job, this passion led me to challenge myself daily and learn new skills that helped me to do better work. For example, I taught myself how to use Photoshop to improve the quality of our photos and graphics. I soon became the go-to person for any design needs.</p>
    </div>
    <div class="profile-descrp">
        <h2>Experience</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Microsoft.png')}}">
            <div>
                <h3>Front-End Developer</h3>
                <b>Microsoft &middot; Full-time</b>
                <b>Jan 2020 - Present &middot; 2.5 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Slack.png')}}">
            <div>
                <h3>Full Stack Developer</h3>
                <b>Slack &middot; Full-time</b>
                <b>Feb 2018 - Jan 2020 &middot; 2 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/google.png')}}">
            <div>
                <h3>Web Developer</h3>
                <b>Google Inc &middot; Full-time</b>
                <b>March 2016 - Feb 2018 &middot; 2 years</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Education</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Stanford.png')}}">
            <div>
                <h3>Stanford University</h3>
                <b>BSEE, Electrical Engineering</b>
                <b>2018 - 2022</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/North.png')}}">
            <div>
                <h3>Nothwestern University</h3>
                <b>Computer Science</b>
                <b>2015 - 2018</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/mit.png')}}">
            <div>
                <h3>MiT University</h3>
                <b>Senior High School</b>
                <b>2005 - 2015</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Skills</h2>
        <a href="#" class="skills-btn">Leadership</a>
        <a href="#" class="skills-btn">Comminication</a>
        <a href="#" class="skills-btn">Teamwork</a>
        <a href="#" class="skills-btn">Problem solving</a>
        <a href="#" class="skills-btn">Organisation</a>
        <a href="#" class="skills-btn">Python</a>
        <a href="#" class="skills-btn">JavaScript</a>
        <a href="#" class="skills-btn">Web Design</a>
        <a href="#" class="skills-btn">UI/UX</a>
        <a href="#" class="skills-btn">Coding</a>
        <a href="#" class="skills-btn">Development</a>
    </div>
    <div class="profile-descrp">
        <h2>Languages</h2>
        <a href="#" class="language-btn">English</a>
        <a href="#" class="language-btn">Spanish</a>
    </div>
</div>
{% endblock %}