{% extends 'base.html' %}

{% block content %}
<!-----------------Student Profile--------------->
<div class="student-container">
    <div class="student-profile">
        <div class="profile-container">
            <div class="profile-container-inner">
                <img src="https://xsgames.co/randomusers/avatar.php?g=male&random0.204" class="profile-pic">
                <h1>Matei Roche</h1>
                <b>SEO Researcher at Snapchat</b>
                <p>Paris, France &middot; <a href="{{url_for('contactForm')}}">Contact info</a></p>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>About</h2>
        <p>I am highly organized. I always take notes and use a series of tools to help myself stay on top of deadlines. I like to keep a clean workspace and create a logical filing method so I can always find what I need. I find this increases efficiency and helps the rest of the team stay on track, too. In my last role, I created a new filing process that increased departmental efficiency by 25%.</p>
    </div>
    <div class="profile-descrp">
        <h2>Experience</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Snapchat.png')}}">
            <div>
                <h3>SEO Reasercher</h3>
                <b>Snapchat &middot; Full-time</b>
                <b>Jan 2020 - Present &middot; 2.5 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Slack.png')}}">
            <div>
                <h3>Full Stack Developer</h3>
                <b>Slack &middot; Full-time</b>
                <b>Feb 2018 - Jan 2020 &middot; 2 years</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/google.png')}}">
            <div>
                <h3>Web Developer</h3>
                <b>Google Inc &middot; Full-time</b>
                <b>March 2016 - Feb 2018 &middot; 2 years</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Education</h2>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Oxford.png')}}">
            <div>
                <h3>Oxford University</h3>
                <b>BSEE, Electrical Engineering</b>
                <b>2018 - 2022</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/North.png')}}">
            <div>
                <h3>Nothwestern University</h3>
                <b>Computer Science</b>
                <b>2015 - 2018</b>
                <hr>
            </div>
        </div>
        <div class="profile-descrp-row">
            <img src="{{url_for('static', filename='images/Harvard.png')}}">
            <div>
                <h3>Harvard University</h3>
                <b>Senior High School</b>
                <b>2005 - 2015</b>
                <hr>
            </div>
        </div>
    </div>
    <div class="profile-descrp">
        <h2>Skills</h2>
        <a href="#" class="skills-btn">Leadership</a>
        <a href="#" class="skills-btn">Comminication</a>
        <a href="#" class="skills-btn">Teamwork</a>
        <a href="#" class="skills-btn">Problem solving</a>
        <a href="#" class="skills-btn">Organisation</a>
        <a href="#" class="skills-btn">Python</a>
        <a href="#" class="skills-btn">JavaScript</a>
        <a href="#" class="skills-btn">Web Design</a>
        <a href="#" class="skills-btn">UI/UX</a>
        <a href="#" class="skills-btn">Coding</a>
        <a href="#" class="skills-btn">Development</a>
    </div>
    <div class="profile-descrp">
        <h2>Languages</h2>
        <a href="#" class="language-btn">English</a>
        <a href="#" class="language-btn">French</a>
        <a href="#" class="language-btn">Spanish</a>
    </div>
</div>
{% endblock %}